WindowsFormsApplication1/WindowsFormsApplication1/Service References/ServiceReferenceContact/WebServiceContact.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListerContact">
        <s:complexType />
      </s:element>
      <s:element name="ListerContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListerContactResult" type="tns:ArrayOfContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Contact">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Nom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Prenom" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateNaissance" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PaysId" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="EnregistrerContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="co" type="tns:Contact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnregistrerContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnregistrerContactResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestEnregistrerContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prenom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date_naissance" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pays_id" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestEnregistrerContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestEnregistrerContactResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListerContactSoapIn">
    <wsdl:part name="parameters" element="tns:ListerContact" />
  </wsdl:message>
  <wsdl:message name="ListerContactSoapOut">
    <wsdl:part name="parameters" element="tns:ListerContactResponse" />
  </wsdl:message>
  <wsdl:message name="EnregistrerContactSoapIn">
    <wsdl:part name="parameters" element="tns:EnregistrerContact" />
  </wsdl:message>
  <wsdl:message name="EnregistrerContactSoapOut">
    <wsdl:part name="parameters" element="tns:EnregistrerContactResponse" />
  </wsdl:message>
  <wsdl:message name="TestEnregistrerContactSoapIn">
    <wsdl:part name="parameters" element="tns:TestEnregistrerContact" />
  </wsdl:message>
  <wsdl:message name="TestEnregistrerContactSoapOut">
    <wsdl:part name="parameters" element="tns:TestEnregistrerContactResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceContactSoap">
    <wsdl:operation name="ListerContact">
      <wsdl:input message="tns:ListerContactSoapIn" />
      <wsdl:output message="tns:ListerContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnregistrerContact">
      <wsdl:input message="tns:EnregistrerContactSoapIn" />
      <wsdl:output message="tns:EnregistrerContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestEnregistrerContact">
      <wsdl:input message="tns:TestEnregistrerContactSoapIn" />
      <wsdl:output message="tns:TestEnregistrerContactSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceContactSoap" type="tns:WebServiceContactSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListerContact">
      <soap:operation soapAction="http://tempuri.org/ListerContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnregistrerContact">
      <soap:operation soapAction="http://tempuri.org/EnregistrerContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestEnregistrerContact">
      <soap:operation soapAction="http://tempuri.org/TestEnregistrerContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceContactSoap12" type="tns:WebServiceContactSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListerContact">
      <soap12:operation soapAction="http://tempuri.org/ListerContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnregistrerContact">
      <soap12:operation soapAction="http://tempuri.org/EnregistrerContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestEnregistrerContact">
      <soap12:operation soapAction="http://tempuri.org/TestEnregistrerContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceContact">
    <wsdl:port name="WebServiceContactSoap" binding="tns:WebServiceContactSoap">
      <soap:address location="http://localhost:49395/WebServiceContact.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceContactSoap12" binding="tns:WebServiceContactSoap12">
      <soap12:address location="http://localhost:49395/WebServiceContact.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>