WindowsFormsApplication1/WindowsFormsApplication1/Service References/ServiceReferencePays/WebServicePays.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListerPays">
        <s:complexType />
      </s:element>
      <s:element name="ListerPaysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListerPaysResult" type="tns:ArrayOfPays" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPays">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pays" nillable="true" type="tns:Pays" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Pays">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Nom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EnregistrerPays">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pi" type="tns:Pays" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnregistrerPaysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnregistrerPaysResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestEnregistrerPays">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestEnregistrerPaysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestEnregistrerPaysResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListerPaysSoapIn">
    <wsdl:part name="parameters" element="tns:ListerPays" />
  </wsdl:message>
  <wsdl:message name="ListerPaysSoapOut">
    <wsdl:part name="parameters" element="tns:ListerPaysResponse" />
  </wsdl:message>
  <wsdl:message name="EnregistrerPaysSoapIn">
    <wsdl:part name="parameters" element="tns:EnregistrerPays" />
  </wsdl:message>
  <wsdl:message name="EnregistrerPaysSoapOut">
    <wsdl:part name="parameters" element="tns:EnregistrerPaysResponse" />
  </wsdl:message>
  <wsdl:message name="TestEnregistrerPaysSoapIn">
    <wsdl:part name="parameters" element="tns:TestEnregistrerPays" />
  </wsdl:message>
  <wsdl:message name="TestEnregistrerPaysSoapOut">
    <wsdl:part name="parameters" element="tns:TestEnregistrerPaysResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServicePaysSoap">
    <wsdl:operation name="ListerPays">
      <wsdl:input message="tns:ListerPaysSoapIn" />
      <wsdl:output message="tns:ListerPaysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnregistrerPays">
      <wsdl:input message="tns:EnregistrerPaysSoapIn" />
      <wsdl:output message="tns:EnregistrerPaysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestEnregistrerPays">
      <wsdl:input message="tns:TestEnregistrerPaysSoapIn" />
      <wsdl:output message="tns:TestEnregistrerPaysSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServicePaysSoap" type="tns:WebServicePaysSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListerPays">
      <soap:operation soapAction="http://tempuri.org/ListerPays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnregistrerPays">
      <soap:operation soapAction="http://tempuri.org/EnregistrerPays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestEnregistrerPays">
      <soap:operation soapAction="http://tempuri.org/TestEnregistrerPays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServicePaysSoap12" type="tns:WebServicePaysSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListerPays">
      <soap12:operation soapAction="http://tempuri.org/ListerPays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnregistrerPays">
      <soap12:operation soapAction="http://tempuri.org/EnregistrerPays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestEnregistrerPays">
      <soap12:operation soapAction="http://tempuri.org/TestEnregistrerPays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServicePays">
    <wsdl:port name="WebServicePaysSoap" binding="tns:WebServicePaysSoap">
      <soap:address location="http://localhost:49395/WebServicePays.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServicePaysSoap12" binding="tns:WebServicePaysSoap12">
      <soap12:address location="http://localhost:49395/WebServicePays.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>